{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-profile.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block content %}
<div class="container-actor">
    <section class="text-content">
      <span class="profile-text name s-border">{{actor}}</span>
      
    </section>

    <br><br>

    <h4>Known for: </h4>
    <div class="divider"></div>

    <article id="content">
      <section id="movie-container">

      {%for movie in movie_data %}

        <div class="one-card">
          <a href="{% url 'movie-details' movie.imdbID%}">
            <div class="card">
              <div class="card-image">
                <img src="{{movie.Poster.url}}">
              </div>
              <div class="card-content">
                <span class="card-title">{{movie.Title}}</span>
                <p>{{movie.Year}}</p>
                <p>{{movie.Type}}</p>
              </div>
              <a href="{% url 'movie-details' movie.imdbID%}">
                <div class="card-action">
                    Details
                </div>
              </a>
            </div>
          </a>
        </div>

        {% endfor %}

        
          
      </section>


      <div class="load-more-container">

      {% if movie_data.has_previous %}

        <a class="cta-btn" href="?page={{ movie_data.previous_page_number }}">
          load less<i class="material-icons" aria-hidden="true" style="margin-left: 10px;">arrow_drop_up</i>
        </a>
      {% endif %}

      {% if movie_data.has_next %}

        <a class="cta-btn" href="?page={{ movie_data.next_page_number }}">
          load more<i class="material-icons" aria-hidden="true" style="margin-left: 10px;">arrow_drop_down</i>
        </a>
      {% endif %}
      </div>

    </article>

  
  <footer>
    Proudly made by Suczki Marnotrawne 2020
  </footer>
</div>
{% endblock %}