{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block search %}

  <aside>
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search a movie" aria-label="Search">
      <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <ul id="category-list">
      <li><a href="{% url 'genres' 'adventure' %}">Adventure</a></li>
      <li><a href="{% url 'genres' 'sci-fi' %}">Sci-fi</a></li>
      <li><a href="{% url 'genres' 'drama' %}">Drama</a></li>
      <li><a href="{% url 'genres' 'thriller' %}">Thriller</a></li>
      <li><a href="{% url 'genres' 'action' %}">Action</a></li>
      <li><a href="{% url 'genres' 'comedy' %}">Comedy</a></li>
      <li><a href="{% url 'genres' 'documentary' %}">Documentary</a></li>
      <li><a href="{% url 'genres' 'crime' %}">Crime</a></li>
      <li><a href="{% url 'genres' 'romance' %}">Romance</a></li>
      <li><a href="{% url 'genres' 'history' %}">History</a></li>
      <li><a href="{% url 'genres' 'war' %}">War</a></li>
      <li><a href="{% url 'genres' 'horror' %}">Horror</a></li>
    </ul>
    
  </aside>

  {% endblock %}


  {% block content %}

    <section id="result-word">
      <span>{{actor}}</span>
    </section>

    <article id="content">
      <section id="movie-container">

      {%for m in data %}

        <div class="one-card">
          <a href="{% url 'movie-details' m.imdbID%}">
            <div class="card">
              <div class="card-image">
                <img src="{{m.Poster.url}}">
              </div>
              <div class="card-content">
                <span class="card-title">{{m.Title}}</span>
                <p>{{m.Year}}</p>
                <p>{{m.Type}}</p>
              </div>
              <a href="{% url 'movie-details' m.imdbID%}">
                <div class="card-action">
                    Details
                </div>
              </a>
            </div>
          </a>
        </div>

        {% endfor %}

        
          
      </section>


      <div id="buttons">

      {% if m.has_previous %}

        <a class="cta-btn" href="?page={{ m.previous_page_number }}">
          load less<i class="material-icons" aria-hidden="true" style="margin-left: 10px;">arrow_drop_up</i>
        </a>
      {% endif %}

      {% if m.has_next %}

        <a class="cta-btn" href="?page={{ m.next_page_number }}">
          load more<i class="material-icons" aria-hidden="true" style="margin-left: 10px;">arrow_drop_down</i>
        </a>
      {% endif %}
      </div>



    </article>


{% endblock %}