<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Filmovie</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style-profile.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
  <!-- NAVIGATION BARS -->

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="../rsc/logo.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Movies</a></li>
        <li><a href="#">Series</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log in</a></li>
      </ul>
    </div>
  </nav>

  <main id="container">
    <section id="photo-content">
        <div id="profile-pic"></div>
    </section>
    <section class="text-content">
      <span class="profile-text name s-border">Amber Goldesdnrsdesdsd</span>
      <span class="profile-text s-border">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Poland
      </span>
      <span class="profile-text s-border">
        <i class="fa fa-globe" aria-hidden="true"></i>
        www.mylongest-page.com
      </span>
      <span class="profile-text s-border">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Quisque velit nisi, pretium ut lacinia in, 
        elementum id enim. Donec sollicitudin molestie 
        malesuada. Curabitur non nulla sit amet nisl 
        tempus convallis quis ac lectus. Vestibulum ac 
        diam sit amet quam vehicula elementum sed sit amet dui.
      </span>
    </section>
    <section id="grid-container">
      <div class="grid-item" >
        <i class="fa fa-film" aria-hidden="true"></i>
        <div class="amount">100</div>
      </div>
      <div class="grid-item" >
        <i class="fa fa-th" aria-hidden="true"></i>
        <div class="amount">54</div>
      </div>
      <div class="grid-item" >
        <i class="fa fa-align-left" aria-hidden="true"></i>
        <div class="amount">23</div>
      </div>
    </section>
  </main>
  

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
