{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-profile.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
 

{% block content %}


  <main id="container">
    <section id="photo-content">
        <div id="profile-pic">

          {% if profile.picture %}
          <img src="{{profile.picture.url}}">
          {% else %}
          <img src="{% static 'img/woman.png' %}">
          {% endif %}
        </div>
    </section>
    <section class="text-content">
      <span class="profile-text name s-border">{{profile.user.first_name}}&nbsp{{profile.user.last_name}}</span>
      <span class="profile-text s-border">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        {{profile.location}}
      </span>
      <span class="profile-text s-border">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        {{profile.bio}}
      </span>

      {% if user.is_authenticated and user == profile.user %}

      <br><br>
      <a href="{% url 'edit-profile' %}" class="btn">Edit Profile</a>

      {% endif %}
    </section>
    <section id="grid-container">
      <div class="grid-item" >
        <i class="fa fa-film" aria-hidden="true"></i>
        <div class="amount">100</div>
      </div>
      <div class="grid-item" >
        <i class="fa fa-th" aria-hidden="true"></i>
        <div class="amount">54</div>
      </div>
      <div class="grid-item" >
        <i class="fa fa-align-left" aria-hidden="true"></i>
        <div class="amount">23</div>
      </div>
    </section>
  </main>

{%endblock%}
