{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-profile.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
 

{% block content %}


  <main id="container">
    <section id="photo-content">
        <div id="profile-pic">

          {% if profile.picture %}
          <img src="{{profile.picture.url}}">
          {% else %}
          <img src="{% static 'img/woman.png' %}">
          {% endif %}
        </div>
    </section>
    <section class="text-content">
      <span class="profile-text name s-border">{{profile.first_name}}&nbsp{{profile.last_name}}</span>
      <span class="profile-text s-border">
        <i class="material-icons" aria-hidden="true">location_on</i>
        {{profile.location}}
      </span>
      <span class="profile-text s-border">
        <i class="material-icons" aria-hidden="true">edit</i>
        {{profile.bio}}
      </span>

      
    </section>

    <section id="buttons">
      {% if user.is_authenticated and user == profile.user %}

      <a href="{% url 'edit-profile'%}" class="cta-btn">Edit Profile</a>

      {% endif %}
        <a href="{%url 'change-password' %}" class="waves-effect waves-light cta-btn">Change password</a>
        <a href="{%url 'password_reset' %}" class="waves-effect waves-light cta-btn">Reset password</a>
    </section>

    <footer>
      Proudly made by Suczki Marnotrawne 2020
    </footer>
  </main>

{%endblock%}
