{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block search %}
  
  
  <aside>
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search a movie" aria-label="Search">
      <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <ul id="category-list">
      <li><a href="{% url 'genres' 'adventure' %}">Adventure</a></li>
      <li><a href="{% url 'genres' 'sci-fi' %}">Sci-fi</a></li>
      <li><a href="{% url 'genres' 'drama' %}">Drama</a></li>
      <li><a href="{% url 'genres' 'thriller' %}">Thriller</a></li>
      <li><a href="{% url 'genres' 'action' %}">Action</a></li>
      <li><a href="{% url 'genres' 'comedy' %}">Comedy</a></li>
    </ul>
    
  </aside>

  
  {% if has_rated or has_liked %}
  <main>
    <section id="movie-container">

      <div class="main-result" style="position: relative; top: 100px;width: 100vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div class="card" style="width: 80%;">
          <div class="card-content">
            <ul class="collection">

              {% if has_rated %}
              <h3>Last ratings</h3>
              {% for rated in has_rated %}
              <li class="collection-item avatar" style="margin: 50px 0;">
                  {% if rated.user.profile.picture %}
                  <img src="{{ rated.user.profile.picture.url }}" alt="" class="circle">
                  {% else %}
                  <img src="{% static 'img/woman.png' %}" alt="" class="circle">
                  {% endif %}
                  <span class="title" style="color: rgba(255,255,255,.6);">{{rated.user.first_name}}&nbsp{{rated.user.last_name}}</span>
                  <p class="username"><a href="{% url 'profile' rated.user.username %}" style="color: #45C718;">@{{rated.user.username}}</a>&nbsp{{rated.timestamp}}</p>
                  <p>Has rated <a href="{% url 'movie-details' rated.movie.imdbID %}">{{rated.movie.Title}}</a>&nbsp&nbsp&nbsp{{rated.rate}}<i class="material-icons">star</i></p>
                  <p>{{rated.opinion}}</p>
              </li>
              {% endfor %}
              {% endif %}
              {% if has_liked %}
              <h3>Last likes</h3>
              {% for liked in has_liked %}
              <li class="collection-item avatar" style="margin: 50px 0;">
                  {% if liked.user.profile.picture %}
                  <img src="{{ liked.user.profile.picture.url }}" alt="" class="circle">
                  {% else %}
                  <img src="{% static 'img/woman.png' %}" alt="" class="circle">
                  {% endif %}
                  <span class="title" style="color: rgba(255,255,255,.6);">{{liked.user.first_name}}&nbsp{{liked.user.last_name}}</span>
                  <p class="username"><a href="{% url 'profile' liked.user.username %}" style="color: #45C718;">@{{liked.user.username}}</a>&nbsp{{liked.timestamp}}</p>
                  {% if liked.like_type == 2 %}
                  <p>Has <i class="material-icons">thumb_up</i> a review "<a href="{% url 'user-rating' liked.rating.user.username liked.rating.movie.imdbID %}">{{liked.rating.opinion}}</a>"under&nbsp{{liked.rating.movie.Title}}&nbsp{{liked.rating.movie.Type}}&nbsp&nbsp{{liked.rating.rate}}<i class="material-icons">star</i></p>
                  {% else %}
                  <p>Has <i class="material-icons">thumb_down</i> a review "<a href="{% url 'user-rating' liked.rating.user.username liked.rating.movie.imdbID %}">{{liked.rating.opinion}}</a>"under&nbsp{{liked.rating.movie.Title}}&nbsp{{liked.rating.movie.Type}}&nbsp&nbsp{{liked.rating.rate}}<i class="material-icons">star</i></p>
                  {% endif %}
                  <p>{{rated.opinion}}</p>
              </li>
              {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>


    </section>
  </main>
  {% else %}
  {% endif %}
  <main>
    <section id="movie-container" style="height: 100%; width: 80vw; justify-content: center; align-items: center;">

      <span class="title" style="color: rgba(255,255,255,.9); text-align: center; font-family: Poppins; font-size: 28px; font-weight: 600; margin: 0 30px;">You are probably not following any user, or your followed users have no activiteis</span>

    </section>
  </main>
  {% endblock %}
