{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block search %}
  
  
  <aside>
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search a movie" aria-label="Search">
      <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <ul id="category-list">
      <li><a href="{% url 'genres' 'adventure' %}">Adventure</a></li>
      <li><a href="{% url 'genres' 'sci-fi' %}">Sci-fi</a></li>
      <li><a href="{% url 'genres' 'drama' %}">Drama</a></li>
      <li><a href="{% url 'genres' 'thriller' %}">Thriller</a></li>
      <li><a href="{% url 'genres' 'action' %}">Action</a></li>
      <li><a href="{% url 'genres' 'comedy' %}">Comedy</a></li>
    </ul>
    
  </aside>

  
  {% if has_rated or has_liked %}
  <main>
    <section id="movie-container">

      <div class="main-result" style="position: relative; top: 100px;width: 100vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div class="card" style="width: 80%;">
          <div class="card-content">
            <ul class="collection">


              {% if activities %}
              <h3>Last activities</h3>
              {% for l in activities %}
              {% if l in has_rated %}
              <li class="collection-item avatar" style="margin: 50px 0;">
                  {% if l.user.profile.picture %}
                  <img src="{{ l.user.profile.picture.url }}" alt="" class="circle">
                  {% else %}
                  <img src="{% static 'img/woman.png' %}" alt="" class="circle">
                  {% endif %}
                  <span class="title" style="color: rgba(255,255,255,.6);">{{l.user.first_name}}&nbsp{{l.user.last_name}}</span>
                  <p class="username"><a href="{% url 'profile' l.user.username %}" style="color: #45C718;">@{{l.user.username}}</a>&nbsp{{l.timestamp}}</p>
                  <p>Has rated <a href="{% url 'movie-details' l.movie.imdbID %}">{{l.movie.Title}}</a>&nbsp&nbsp&nbsp{{l.rate}}<i class="material-icons">star</i></p>
                  <p>{{l.opinion}}</p>
              </li>
              {% else %}
              <li class="collection-item avatar" style="margin: 50px 0;">
                {% if l.user.profile.picture %}
                <img src="{{ l.user.profile.picture.url }}" alt="" class="circle">
                {% else %}
                <img src="{% static 'img/woman.png' %}" alt="" class="circle">
                {% endif %}
                <span class="title" style="color: rgba(255,255,255,.6);">{{l.user.first_name}}&nbsp{{l.user.last_name}}</span>
                <p class="username"><a href="{% url 'profile' l.user.username %}" style="color: #45C718;">@{{l.user.username}}</a>&nbsp{{l.timestamp}}</p>
                {% if l.like_type == 2 %}
                <p>Has <i class="material-icons">thumb_up</i> a review "<a href="{% url 'user-rating' l.rating.user.username l.rating.movie.imdbID %}">{{l.rating.opinion}}</a>"under&nbsp{{l.rating.movie.Title}}&nbsp{{l.rating.movie.Type}}&nbsp&nbsp{{l.rating.rate}}<i class="material-icons">star</i></p>
                {% else %}
                <p>Has <i class="material-icons">thumb_down</i> a review "<a href="{% url 'user-rating' l.rating.user.username l.rating.movie.imdbID %}">{{l.rating.opinion}}</a>"under&nbsp{{l.rating.movie.Title}}&nbsp{{l.rating.movie.Type}}&nbsp&nbsp{{l.rating.rate}}<i class="material-icons">star</i></p>
                {% endif %}
                <p>{{l.opinion}}</p>
            </li>
              {% endif %}
              {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

    </section>
  </main>
  {% else %}
  <main>
    <section id="movie-container" style="height: 100%; width: 80vw; justify-content: center; align-items: center;">

      <span class="title" style="color: rgba(255,255,255,.9); text-align: center; font-family: Poppins; font-size: 28px; font-weight: 600; margin: 0 30px;">You are probably not following any user, or your followed users have no activiteis</span>

    </section>
  </main>
  {% endif %}
  {% endblock %}
