{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row center-align"> 

    <form method="POST" class="col-12" role="form" action="">
    {csrf_token}

    <h3>Change your password</h3>

    {{form.id}}


    <div class="row">
        <div class="input-field col s12">
            {{form.old_password}}
            <label for="old_password">Old password</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            {{form.new_password}}
            <label for="new_password">New password</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            {{form.confirm_new_password}}
            <label for="confirm_new_password">Confirm new password</label>
        </div>
    </div>

    {% if form.errors %}
    <div class="row">
        <div class="col s12">
            <span style="color: red; font-weight: bold;">{{form.errors}}</span>
        </div>
    </div>
    {% endif %}
    <button type="submit" name="action" class="waves-effect waves-light btn"><i class="material-icons left">done</i>Change password</button>

    </form>

</div>

{% endblock %}