{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}


{% block content %}

<div class="row center-align"> 

    <form method="POST" class="col-12" role="form" action="">
    {%csrf_token%}

    <h3>Login</h3>


    <div class="row">
        <div class="input-field col s12">
            {{form.username}}
            <label for="username">Username</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            {{form.password}}
            <label for="password">Password</label>
        </div>
    </div>

    {% if form.errors %}
    <div class="row">
        <div class="col s12">
            <span style="color: red; font-weight: bold;">Username of password is not valid</span>
        </div>
    </div>
    {% endif %}
    <button type="submit" value="login" class="waves-effect waves-light btn"><i class="material-icons left">send</i>Login</button>

    <input type="hidden" name="next" value="{{next}}">
    <a class="waves-effect waves-light btn"><i class="material-icons left">person_pin</i>Register</a>

    </form>

</div>

{% endblock %}