{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}


{% block content %}

<div class="row center-align"> 

    <div class="col s12">
        <i class="material-icons green-text large">done</i>
    </div>

    <div class="col s12">
        <h4>We have emailed you an instructions to reset your password</h4>
        <p>If you have added the correct e-mail to your account, you will receive the token to restet your password.</p>
        <p>If you don't receive an e-mail, check your spam folder or make sure you have entered correct e-mail</p>
    </div>

</div>

{% endblock %}