{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-login.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}


{% block content %}
<main id="container">
    <div id="email-sent-page">
        <i class="material-icons green-text large">done</i>
        <div class="info-msg">
            <h1>SUCCESS</h1>
            <span>
                If you have added the correct e-mail to your account, 
                you will receive the token to reset your password. <br><br>
                <strong>If you don't receive an e-mail</strong>, check your spam 
                folder or make sure you have entered correct e-mail
            </span>
        </div>
        <a href="#"><div class="waves-effect waves-light cta-btn-color cta-btn" style="width: 60vw;">BACK to movies</div></a>
    </div>
</main>

{% endblock %}