{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-login.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}


{% block content %}
<main id="container">
    <div id="email-sent-page">
        <i class="material-icons green-text large">done</i>
        <div class="info-msg">
            <h1>SUCCESS</h1>
            <span>
                You have a new password now. <br>
                no more things to do!
            </span>
        </div>
        <a href="{% url 'login' %}"><div class="waves-effect waves-light cta-btn-color cta-btn" style="width: 60vw;">SIGN IN NOW</div></a>
    </div>
</main>


{% endblock %}