{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-login.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}


{% block content %}
<main id="container">
    <form method="POST" class="col-12" role="form" action="">
        {%csrf_token%}
    
        <h1>Don't worry if you forgot!</h1>
        <h2>We store not only the movies</h2>
    
        {{form.id}}
    
        <div class="row">
            <div class="input-field col s12">
                {{form.email}}
                <label for="email">Your e-mail</label>
            </div>
        </div>
    
    
        {% if form.errors %}
        <div class="row">
            <div class="col s12">
                <span class="error" style="color: red; font-weight: bold;">{{form.errors}}</span>
            </div>
        </div>
        {% endif %}
        <button type="submit" name="action" class="waves-effect waves-light cta-btn-color cta-btn">Send e-mail</button>
        <a href="#">
            <span class="back">Oh! I remember! I wanna go back!</span>
        </a>
    </form>
</main>

{% endblock %}