{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block search %}
  
  
  <aside>
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search a movie" aria-label="Search">
      <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <ul id="category-list">
      <li><a href="{% url 'genres' 'adventure' %}">Adventure</a></li>
      <li><a href="{% url 'genres' 'sci-fi' %}">Sci-fi</a></li>
      <li><a href="{% url 'genres' 'drama' %}">Drama</a></li>
      <li><a href="{% url 'genres' 'thriller' %}">Thriller</a></li>
      <li><a href="{% url 'genres' 'action' %}">Action</a></li>
      <li><a href="{% url 'genres' 'comedy' %}">Comedy</a></li>
    </ul>
    
  </aside>

  {% endblock %}
