{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-movie-detail.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
 

{% block content %}


    <article id="main-container">
      <section class="card-image">

      {%if our_db is True%}


      <img src="{{movie_data.Poster.url}}">

      {%else%}

      <img src="{{movie_data.Poster}}">

      {%endif%}

        
      </section>

      <section id="card-details">

        <div id="card-full-title">
          <span class="card-title">{{movie_data.Title}}</span>
          <br>
          <span class="card-description">{{movie_data.Plot}}</span>
          <br>
        </div>

        <div id="favor-line">
          <div class="description-pair">
            <span class="bold-text">{{movie_data.Director}}</span>
            <span class="title">director</span>
          </div>

          <div class="description-pair">
            <span class="bold-text">{{movie_data.Runtime}}</span>
            <span class="title">duration</span>
          </div>

          <div class="description-pair">
            {% if user.is_authenticated %}
              {% if star %}
              <span class="bold-text"><a href="{%url 'star' movie_data.imdbID%}"><i id="star_icon" class="material-icons icon-yellow">star_border</i></a></span>
              <span class="title">remove</span>
              {% else %}
              <span class="bold-text"><a href="{%url 'star' movie_data.imdbID%}"><i id="star_icon" class="material-icons">star_border</i></a></span>
              <span class="title">add</span>
              {% endif %}
            {% else %}
            <span class="bold-text"><i id="star_icon" class="material-icons">star_border</i></span>
            {% endif %}
            
          </div>

          <div class="description-pair">
            {% if user.is_authenticated %}
              {% if watchlist %}
              <span class="bold-text"><a href="{%url 'watchlist' movie_data.imdbID%}"><i id="playlist_add_icon" class="material-icons icon-yellow">playlist_add</i></a></span>
              <span class="title">remove from watchlist</span>
              {% else %}
              <span class="bold-text"><a href="{%url 'watchlist' movie_data.imdbID%}"><i id="playlist_add_icon" class="material-icons">playlist_add</i></a></span>
              <span class="title">add to watchlist</span>
              {% endif %}
            {% else %}
            <span class="bold-text"><i id="playlist_add_icon" class="material-icons">playlist_add</i></span>
            {% endif %}
          </div>

          <div class="description-pair">
            {% if user.is_authenticated %}
              {% if watchedlist %}
              <span class="bold-text"><a href="{%url 'watchedlist' movie_data.imdbID%}"><i id="playlist_add_check_icon" class="material-icons icon-yellow">playlist_add_check</i></a></span>
              <span class="title">remove from watched</span>
              {% else %}
              <span class="bold-text"><a href="{%url 'watchedlist' movie_data.imdbID%}"><i id="playlist_add_check_icon" class="material-icons">playlist_add_check</i></a></span>
              <span class="title">add to watched</span>
              {% endif %}
            {% else %}
            <span class="bold-text"><i id="playlist_add_check_icon" class="material-icons">playlist_add_check</i></span>
            {% endif %}
          </div>
        </div>

        <div id="list-of-details">
          
          <div class="pair-list">
            <span class="title">Year</span>
            <span class="bold-text">{{movie_data.Year}}</span>
          </div>
          {% if movie_data.Type == "series" %}
          <div class="pair-list">
            <span class="title">Seasons</span>
            <span class="bold-text">{{movie_data.totalSeasons}}</span>
          </div>
          {% endif %}

          <div class="pair-list">
            <span class="title">Rated</span>
            <span class="bold-text">{{movie_data.Rated}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Released</span>
            <span class="bold-text">{{movie_data.Released}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Genre</span>

            {%if our_db is True%}


            <span class="bold-text">{%for genre in movie_data.Genre.all%}<a href="{{genre.get_absolute_url}}">{{genre}}</a>,{%endfor%}</span>

            {%else%}

            <span class="bold-text">{{movie_data.Genre}}</span>
            
            {%endif%}

          </div>

          <div class="pair-list">
            <span class="title">Writer</span>
            <span class="bold-text">{{movie_data.Writer}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Actors</span>

            {%if our_db is True%}


            <span class="bold-text">{%for actor in movie_data.Actors.all%}<a href="{{actor.get_absolute_url}}">{{actor}}</a>,{%endfor%}</span>

            {%else%}

            <span class="bold-text">{{movie_data.Actors}}</span>

            {%endif%}

          </div>

          <div class="pair-list">
            <span class="title">Language</span>
            <span class="bold-text">{{movie_data.Language}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Country</span>
            <span class="bold-text">{{movie_data.Country}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Awards</span>
            <span class="bold-text">{{movie_data.Awards}}</span>
          </div>
        </div>

      </section>
      
    </article>

    <div id="buttons">
      <button class="cta-btn">
        <a href="#"><i class="material-icons left">rate_review</i>Review</a>
      </button>
      <button class="cta-btn">
        {% if user.is_authenticated %}
          <a href="{% url 'rate-movie' movie_data.imdbID%}"><i class="material-icons left">star</i>Rate</a>
        {% else %}
          <a href=""><i class="material-icons left">star</i>Rate</a>
        {% endif %}
      </button>
    </div>
    
    
    



    <!--BREAK POINT -->

    <section id="card-details">
      <div class="card-stacked">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="{% static 'img/icons/filmovie-icon.png' %}" alt="" class="circle">
              <span class="title">Filmovie Rating</span>
              <p><b>{{rating_avg}} / 10</b> rated by <b>{{rating_count}}</b> users</p>
            </li>

            {%if our_db is True%}

            {%for movie in movie_data.Ratings.all%}

            {%if movie.source == 'Internet Movie Database'%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/imdb_icon.png' %}" alt="" class="circle">
              <span class="title">{{movie.source}}</span>
              <p><b>{{movie.rating}}</b></p>
            </li>

            {%elif movie.source == 'Rotten Tomatoes'%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/rotten-tomatoes-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie.source}}</span>
              <p><b>{{movie.rating}}</b></p>
            </li>

            {%else%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/metacritic-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie.source}}</span>
              <p><b>{{movie.rating}}</b></p>
            </li>

            {%endif%}


            {%endfor%}

            {%else%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/imdb_icon.png' %}" alt="" class="circle">
              <span class="title">{{movie_data.Ratings.0.Source}}</span>
              <p><b>{{movie_data.Ratings.0.Value}}</b></p>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/rotten-tomatoes-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie_data.Ratings.1.Source}}</span>
              <p><b>{{movie_data.Ratings.1.Value}}</b></p>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/metacritic-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie_data.Ratings.2.Source}}</span>
              <p><b>{{movie_data.Ratings.2.Value}}</b></p>
            </li>

            {%endif%}

          </ul>


        </div>
      </div>
    </section>
    {% if user.is_authenticated %}
    <h3>Reviews</h3>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12 m12">
              <div class="card">
                <div class="card-content">
                  <ul class="collection">

                    {% for opinion in opinions %}
                    <li class="collection-item avatar">
                        {% if opinion.user.profile.picture %}
                        <img src="{{ opinion.user.profile.picture.url }}" alt="" class="circle">
                        {% else %}
                        <img src="{% static 'img/woman.png' %}" alt="" class="circle">
                        {% endif %}
                        <span class="title">{{opinion.user.first_name}}&nbsp{{opinion.user.last_name}}</span>
                        <p>@{{opinion.user.username}}</p>
                        <p>{{opinion.date}}</p>
                        <a href="{% url 'user-rating' opinion.user.username movie_data.imdbID %}" class="secondary-content"><i class="material-icons">grade</i>{{opinion.opinion}} &nbsp&nbsp&nbsp {{opinion.rate}} / 10</a>
                    </li>
                    {% endfor %}


                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
    <!--BREAK POINT END-->


{% endblock %}