{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/styles-movie-detail.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
 

{% block content %}


    <article id="main-container">
      <section class="card-image">

      {%if our_db is True%}


      <img src="{{movie_data.Poster.url}}">

      {%else%}

      <img src="{{movie_data.Poster}}">

      {%endif%}

        
      </section>

      <section id="card-details">

        <div id="card-full-title">
          <span class="card-title">{{movie_data.Title}}</span>
          <br>
          <span class="card-description">{{movie_data.Plot}}</span>
          <br>
        </div>

        <div id="favor-line">
          <div class="description-pair">
            <span class="bold-text">{{movie_data.Director}}</span>
            <span class="title">director</span>
          </div>

          <div class="description-pair">
            <span class="bold-text">{{movie_data.Runtime}}</span>
            <span class="title">duration</span>
          </div>

          <div class="description-pair">
            <span class="bold-text"><i class="fa fa-star-o" aria-hidden="true"></i></span>
            <span class="title">add</span>
          </div>
        </div>

        <div id="list-of-details">
          
          <div class="pair-list">
            <span class="title">Year</span>
            <span class="bold-text">{{movie_data.Year}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Rated</span>
            <span class="bold-text">{{movie_data.Rated}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Released</span>
            <span class="bold-text">{{movie_data.Released}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Genre</span>

            {%if our_db is True%}


            <span class="bold-text">{%for genre in movie_data.Genre.all%}<a href="{{genre.get_absolute_url}}">{{genre}}</a>,{%endfor%}</span>

            {%else%}

            <span class="bold-text">{{movie_data.Genre}}</span>
            
            {%endif%}

          </div>

          <div class="pair-list">
            <span class="title">Writer</span>
            <span class="bold-text">{{movie_data.Writer}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Actors</span>

            {%if our_db is True%}


            <span class="bold-text">{%for actor in movie_data.Actors.all%}{{actor}},{%endfor%}</span>

            {%else%}

            <span class="bold-text">{{movie_data.Actors}}</span>

            {%endif%}

          </div>

          <div class="pair-list">
            <span class="title">Language</span>
            <span class="bold-text">{{movie_data.Language}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Country</span>
            <span class="bold-text">{{movie_data.Country}}</span>
          </div>

          <div class="pair-list">
            <span class="title">Awards</span>
            <span class="bold-text">{{movie_data.Awards}}</span>
          </div>
        </div>

      </section>
      
    </article>

    <div id="buttons">
      <button class="cta-btn">
        <a href="#"><i class="material-icons left">rate_review</i>Review</a>
      </button>
      <button class="cta-btn">
        <a href="#"><i class="material-icons left">star</i>Rate</a>
      </button>
    </div>
    
    
    



    <!--BREAK POINT -->

    <section id="card-details">
      <div class="card-stacked">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="{% static 'img/icons/filmovie-icon.png' %}" alt="" class="circle">
              <span class="title">Filmovie Rating</span>
              <p><b>9.4 / 10</b> rated by <b>1000</b> users</p>
            </li>

            {%if our_db is True%}

            {%for movie in movie_data.Ratings.all%}

            {%if movie.source == 'Internet Movie Database'%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/imdb_icon.png' %}" alt="" class="circle">
              <span class="title">{{movie.source}}</span>
              <p><b>{{movie.rating}}</b></p>
            </li>

            {%elif movie.source == 'Rotten Tomatoes'%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/rotten-tomatoes-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie.source}}</span>
              <p><b>{{movie.rating}}</b></p>
            </li>

            {%else%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/metacritic-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie.source}}</span>
              <p><b>{{movie.rating}}</b></p>
            </li>

            {%endif%}


            {%endfor%}

            {%else%}

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/imdb_icon.png' %}" alt="" class="circle">
              <span class="title">{{movie_data.Ratings.0.Source}}</span>
              <p><b>{{movie_data.Ratings.0.Value}}</b></p>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/rotten-tomatoes-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie_data.Ratings.1.Source}}</span>
              <p><b>{{movie_data.Ratings.1.Value}}</b></p>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'img/icons/metacritic-icon.png' %}" alt="" class="circle">
              <span class="title">{{movie_data.Ratings.2.Source}}</span>
              <p><b>{{movie_data.Ratings.2.Value}}</b></p>
            </li>

            {%endif%}

          </ul>


        </div>
      </div>
    </section>
    <h3>Reviews</h3>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12 m12">
              <div class="card">
                <div class="card-content">
                  <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="{% static 'img/icons/batman-icon.png' %}" alt="" class="circle">
                        <span class="title">Batman</span>
                        <p>@batman69</p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i>I love this movie! 10 / 10</a>
                    </li>

                    <li class="collection-item avatar">
                        <img src="{% static 'img/icons/superman-icon.png' %}" alt="" class="circle">
                        <span class="title">Superman</span>
                        <p>@supermanPro</p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i>I prefer Inception 5 / 10</a>
                    </li>

                    <li class="collection-item avatar">
                        <img src="{% static 'img/icons/spiderman-icon.png' %}" alt="" class="circle">
                        <span class="title">Spiderman</span>
                        <p>@spidermanS</p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i>The user above is an idiot 9.5 / 10</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    <!--BREAK POINT END-->


{% endblock %}