/* STYLE.CSS INDEX.HTML */ 

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: flex;
  background-image: url("../img/background.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

/* NAVIGATION AND CATEGORIES (SEARCH)*/ 
 

nav {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(10, 10, 10, 0.85);
  padding: 0 50px;
  z-index: 1000;
}

nav ul a, nav .brand-logo{
  color: #fff;
}
nav ul a:hover {
  background-color: black;
}
nav ul #log-in-btn:hover {
  background-color: #45C718;
}

ul {
  list-style: none;
}
a:hover{
  color: #fff;
  text-decoration: none;
}

aside{
  position: fixed;
  top: 60px;
  left: 0;
  width: 15vw;
  min-width: 150px;
  height: 100vh;
  background-color: black;
  z-index: 100;
}
.form-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mr-auto{
  margin-right: 20px!important;
  margin: 0 20px;
}
.btn-outline-success {
  border-color: #45C718;
  color: #45C718;
  
}
.btn-outline-success:hover {
  background-color: #45C718;
  border-color: #45C718;
}

#category-list {
  display: block;
  list-style: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
#category-list li {
  margin: 0;
  padding: 15px 0;
  width: 100%;
}
#category-list li:hover {
  background-color: #45C718;
}


/* MAIN CONTENT PAGE */ 
main {
  position: relative;
  top: 60px;
  left: 16vw;
  width: 80vw;
  height: 100vh;
}

#result-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#result-word span {
  color: white;
  font-weight: 500;
  font-size: 2rem;
}
#result-word #for-word {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.75rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#movie-container .one-card {
  width: 25%;
  margin: 20px 30px;
  transition: 0.3s;
}

#movie-container .one-card:hover {
  transform: scale(1.1);
}

.card { 
  background-color: rgba(0,0,0,0.90);
}
.card .card-content .card-title {
  font-weight: 700;
  text-transform: uppercase;
  height: 100px;
}

.card-action {
  color: #45C718;
  text-transform: uppercase;
}
.card-action:hover {
  color: white;
  background-color: #45C718;
  transition: 0.4s;
}

/* LOAD MORE BUTON */

.cta-btn {
  background-color:transparent;
  border: 2px solid #45C718;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  
}
.cta-btn:hover {
  background-color: #45C718;
  transition: 0.2s;
}


footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: -15vw;
  margin-left: -15vw;
  margin-top: 30px;
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.90);
}