<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <h6>Thanks for registering to Filmovie app!</h6>
        <p>If you want to sign in to your account, please click the link below</p>
        <br>
        <a href="http://127.0.0.1:8000/accounts/login/">
            <button style="
            padding: 0.5rem;
            border: 0.5rem solid turquoise; 
            border-radius: 0.7rem;
            font-size: 1rem;
            background: turquoise;
            color: white;">
            Sign in
            </button>
        </a>
        <br><br><br>
        <p>Filmovie Team</p>
    </body>
</html>